*{box-sizing: border-box;}

.maincontainer{
    border: solid grey 1px;
    width: 90%;
    height: 500px;
    margin: 2em auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
.card{
    border-radius: 10px;
    border: solid lightgray 1px;
    width: 300px;
    background-color: aquamarine;
    padding: 1%;
}
.header{
    width: 90%;
    margin: 2em auto;
    display: flex;
    background-color: orangered;
    align-items: center;
}
.headertitle{
    text-align: center;
    color: white;
    width: 40%;
    font-size: 2em;
}
.navlinks{
    background-color: orangered;
    width: 90%;
    margin: 2em auto;
    display: flex;
    justify-content: center;
}
.link{
    display: inline-block;
    padding: 1em 3em;
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.2em;
}
.link:hover{
    background-color: aliceblue;
    color: red;
}
.collapsmenu{
    background-color: orangered;
    font-size: 1em;
    color: aliceblue;
    display: none;
}
.footer{
    background-color: darkgray;
    display: flex;
    justify-content: center;
}
.footercustomer,.footerfollow,.footermyaccount{
    width: 30%;
    padding: 2em;
}
.footertitle{
    font-size: 1.2em;
    font-weight: bolder;
}
.footerlist{
    list-style: none;
}
.footerlist li{
    padding: 0.5em 0em;
    margin-left: -40px;
}
.img{
    width: 100%;
    display: block;
}
.socialmedia{
    display: flex;
}
.socialmedia a{
    display: inline-block;
    width: 10%;
    margin-right: 5%;
}
@media only screen and (max-width: 1400px){
    .card{background-color: lightcoral; width: 40%;}
    .cardtitle{text-align: center;}
    .link{
        padding: 1em 2em;
        font-size: 1.1em;
    }
    .headertitle{font-size: 1.2em;}
}
@media only screen and (max-width: 800px){
    .maincontainer{height: auto;}
    .card{background-color: lightskyblue; width: 90%; margin-bottom: 2em; }
    .headertitle{width: 100%; justify-content: center; border-top: solid white 1px;}
    .header{flex-wrap: wrap;}
    .navlink{width: 100%; justify-content: center; border-top: solid white 1px;}
    .footer{flex-wrap: wrap;}
    .footercustomer, .footermyaccount, .footerfollow{
        width: 50%;
    }
}

@media only screen and (max-width: 500px){
    .navlink{display: none;}
    
}
    