h1.title{
    text-align: center;
    color: crimson;
    padding: 1rem;
    border-bottom: dashed grey 2px;
}
.box1, .box2, .box3{
    width: 300px;
    height: 150px;
    text-align: center;
    padding: 2em;
    border: solid 1px grey;
    margin: 3em auto;
}
.box1{
    box-shadow: -10px 10px 15px orangered;
    border-radius: 20px;
}
.box2{
    box-shadow: -10px 10px 15px orangered inset;
    border-radius: 50%;
}
.box3{
    box-shadow: 0px 0px 15px 5px orangered;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}